* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
  border: 0px none #ffffff;
}

@font-face {
  font-family: "Stretch";
  src: url(assets/StretchPro.ttf);
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  height: 80px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  z-index: 2;
}
.navbar .logo {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-family: "Stretch";
}
.logo img {
  height: 70px;
  width: 70px;
}
.options_login {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-right: 50px;
  font-size: 18px;
  font-family: "Stretch";
  color: #f2f5ea;
  text-decoration: none;
}

li {
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}

li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: hsl(0deg 100% 25.1%);
}

li:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.contact_form {
  font-family: "Segoe UI", Arial, sans-serif;

  border-radius: 8px;
  padding: 20px;

  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contact_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact_form label {
  color: black;
  font-family: "stretch", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 15px;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
  padding: 10px;
  border-style: hidden;
  border-bottom: 1px solid #7f0000;
  border-radius: 5px;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.contact_form input[type="text"]:focus,
.contact_form input[type="email"]:focus,
.contact_form textarea:focus {
  background-color: rgb(255, 255, 255);
}
.contact_form textarea {
  height: 200px;
  margin-bottom: 40px;
}

.contact_form button[type="submit"] {
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "stretch";
  height: 80px;
  border-radius: 15px;

  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact_form button[type="submit"]:hover {
  background-color: black;
  color: white;
}
.contact_container {
  margin-top: 80px;
}
.right_col {
  background-color: white;
}
@media only screen and (max-width: 992px) {
  .navbar .hamburger {
    display: flex;
    align-items: center;
  }
  .navbar {
    margin-top: 0px;
  }
  .hamburger img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  .options {
    position: fixed;
    background-color: rgb(35, 35, 35);
    height: 300px;
    width: 100%;
    top: 80px;
    display: none;
    opacity: 0;
    z-index: 1;
    padding: 20px;
    gap: 20px;
    border-bottom: black 3px solid;
    border-left: black 3px solid;
    border-right: black 3px solid;
    box-shadow: inset 0px 5px 30px -5px rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
  }
  .options .options_login {
    width: 60%;
    background-color: transparent;
  }
  .options .options_links {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: end;
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-family: "Stretch";
    color: #f2f5ea;
    text-decoration: none;
  }
  .contact_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .left_col {
    display: none;
  }

  .right_col {
    padding-top: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 100vh;
    box-shadow: none;
  }
  .contact_form {
    padding: 15px;
  }

  .contact_form button[type="submit"] {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 993px) {
  .navbar .hamburger {
    display: none;
    align-items: center;
  }
  .options {
    position: fixed;

    height: 80px;
    width: 700px;
    right: 0px;
    top: 0px;
    display: flex;
    z-index: 3;
    padding: 0px;
    display: flex;
    gap: 20px;
    border: none;
    box-shadow: none;
  }
  .options_login {
    display: none;
  }
  .options .options_links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style-type: none;

    font-size: 18px;
    font-family: "Stretch";
    color: #f2f5ea;
    text-decoration: none;
  }

  .contact_container {
    display: flex;
    width: 100%;
    height: 91vh;
  }

  .left_col {
    width: 55%;
    height: 100%;
    background-color: #f0f0f0;
  }

  .right_col {
    width: 45%;
    height: 100%;
    padding-top: 50px;
    box-shadow: -5px 0px 10px 0px rgba(167, 167, 167, 0.63);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact_form {
    text-align: left;
  }
}
